body {
  margin: 0; 
  padding: 0;
  
  background-color: #2C2F33;
  
  background-image: url('https://cdn.discordapp.com/attachments/854314018553331713/994874878014525470/wallhaven-96r63w_-_Copy.png'); 
  background-repeat: no-repeat; 
  background-position: 50% 70%; 
  background-size: 100% auto;
  background-attachment: fixed; 
  
  user-select: none;
}
