body {
    background-color: #2C2F33;
    margin: 0;
    padding: 0;

    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: 100% auto; 
    background-attachment: fixed; 
    
    user-select: none;
}
